
<div data-cc-sidebar data-ng-controller="sidebar as vm" >
	<div class="sidebar-filler"></div>
	<div class="sidebar-dropdown"><a href="#">Menu</a></div>
	<div class="sidebar-inner">
		<div class="sidebar-widget">
		</div>
		<ul class="navi navbar-collapse">

		  <li class="nlightblue fade-selection-animation">
		    <a ui-sref="dashboard">Dashboard</a>
		  </li>
		  <li class="nlightblue fade-selection-animation ">
		    <a ui-sref="filegen.parameters">File Generation</a>
		  </li>
      <li class="nlightblue fade-selection-animation ">
        <a ui-sref="sandbox">Sandbox</a>
      </li>
			<!--<li class="nlightblue fade-selection-animation" ui-sref-active="active">
					<a ui-sref="detail">Dashboard Details</a>
			</li>-->

		</ul>
	</div>
</div>


