
<div ng-controller="tablegen">
    <button type="button" class="btn btn-success" ng-click="toggleMultiSelect()">Toggle multiSelect</button>  <strong>MultiSelect:</strong> <span ng-bind="gridApi.grid.options.multiSelect"></span>
    <button type="button" class="btn btn-success" ng-click="toggleRow1()">Toggle Row 0</button>
    <br />
    <br />
    <button type="button" class="btn btn-success" ng-click="toggleModifierKeysToMultiSelect()">Toggle modifierKeysToMultiSelect</button>  <strong>ModifierKeysToMultiSelect:</strong> <span ng-bind="gridApi.grid.options.modifierKeysToMultiSelect"> </span>
    <br />
    <br />
    <button type="button" class="btn btn-success" ng-disabled="!gridApi.grid.options.multiSelect" ng-click="selectAll()">Select All</button>
    <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
    <button type="button" class="btn btn-success" ng-click="setSelectable()">Set Selectable</button>
    <br />
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</div>
<div ng-controller="SecondCtrl">
    Single selection grid without rowHeader, and allowing rowSelection to be toggled on and off dynamically:
    <br />
    <button type="button" class="btn btn-success" ng-click="toggleRowSelection()">Toggle rowSelection</button>  <strong>rowSelection:</strong> <span ng-bind="gridApi.grid.options.enableRowSelection"></span>
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</div><div class="pull-right" ng-controller="tablegen as vm">

    <div class="gridStyle" ng-grid="vm.gridOptions">

    </div>
</div>